.iconWrapper {
  color: #fff;
}

.container {
  padding: 0.5rem;
  padding-top: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background-color: #333;
  border: none;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container:hover {
  transform: scale(1.2, 1.2);
}
