.container {
  display: flex;
  flex-direction: column;
  max-width: 1980px;
  justify-content: center;
  margin: 0 auto;
}

/* .contentContainer {
  display: flex;
  flex-direction: column;
} */

/* @media (min-width: 49rem) {
  .contentContainer {
    flex-direction: row;
  }
} */

/* @media (min-width: 90rem) {
  .contentContainer {
    flex-direction: row;
  }
} */
