.container {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  bottom: 1rem;
  z-index: 0;
}

.openCircle,
.closedCircle {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-size: 1rem;
  padding: 0rem;
  margin: 0rem;
}

.openCircle {
  cursor: pointer;
}

@media screen and (max-width: 37.563rem) {
  .container {
    gap: 0.8rem;
  }
  .openCircle,
  .closedCircle {
    font-size: 0.8rem;
  }
}
