.skipNavLink {
  position: absolute;
  left: -100rem;
  width: 1rem;
  height: 1rem;
  top: auto;
}

.skipNavLink:focus {
  outline: 0.19rem solid #0070f3;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  font-weight: 700;
  z-index: 3;
  height: auto;
  width: auto;
  left: 0;
}
