.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}
.headingWrap,
.subHeading,
.buttonWrap {
  background-color: #000;
}

.headingWrap {
  padding: 0.5rem;
}

.yellowText {
  color: #ffcc00;
}

.subHeading {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 0.5rem;
}

.buttonWrap {
  padding: 0.5rem;
}
