.container {
  color: #fff;
  box-sizing: border-box;
  width: 25rem;
  background: rgba(0, 0, 0, 0.58);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 1em;
}

.container:hover {
  color: black;
  background: #fecd08;
}

.title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.07rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.subTitle {
  display: inline-block;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

/* For mobile device width */
@media screen and (max-width: 35rem) {
  .container {
    width: 100%;
  }
}
